/* home */
.home {
  background: linear-gradient(to right, $deep-blue-color 0%, $black-color 100%);

  &__container {
    position: relative;
    top: 20%;
    height: 44rem;
    max-width: 100%;

    .home__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 10rem;
      height: 70%;
      max-width: 50%;

      h1 {
        font-size: 6rem;
        color: $white-color;
      }

      .content__btn {
        background: linear-gradient(
          to bottom,
          $pink-color 0%,
          $orange-color 100%
        );
        width: 18rem;
      }
    }

    .home__img {
      height: 55rem;
      position: absolute;
      right: 6rem;
      bottom: -10rem;
      max-width: 100%;
    }

    /* mobile responsive */
    @media #{$media-mobile} {
      .home__img {
        display: none;
      }

      .home__content{
        max-width: 100%;
        padding-left: 8%;
      }
    }
  }

  /* mobile responsive */
  @media #{$media-mobile} {
    &__container {
      top: 10%;
    }
  }
}

/* mobile responsive */
@media #{$media-mobile} {
  .home {
    height: 40vh;
  }
}
