@import "../../../index.scss";

.now-showing {
  background-color: $background-color;

  .film-grid {
    margin-top: 3rem;

    .ant-pagination {
      display: flex;
      justify-content: center;
    }
  }
}
