section#Home.home
    div(class="home__container container")
        .home__content
            h1 We provide best IT solution
            p.content__p Naxly bring the power of data science and artificial intelligence to every business.
            button(class="btn content__btn") Our Services

        figure
            img.home__img(src="../../img/background/ezgif.com-gif-maker (5).png" alt="a robot")