<!-- navigation items -->
- const navItems = ['Home', 'Services','Industries','Case-Study','Contact'];

<!-- services cards -->
- const stackIcon = {'src': '../../img/icon/ezgif.com-gif-maker (4).png', 'alt': 'stack icon',  'title': 'Managed IT services'};
- const cubeIcon = {'src': '../../img/icon/ezgif.com-gif-maker (5).png','alt': 'cube icon','title': 'Backup and recovery'};
- const shieldIcon =  {'src': '../../img/icon/ezgif.com-gif-maker (7).png','alt': 'shield icon','title': 'Cyber security'};

<!-- industries cards -->
- const boxesIcon = {'src': '../../img/icon/ezgif.com-gif-maker (6).png', 'alt': 'boxes icon', 'content': 'Industries & Manufacturing'};
- const educationIcon = {'src': '../../img/icon/ezgif.com-gif-maker.png', 'alt': 'education icon', 'content': 'Education & Health'};
- const shoppingIcon = {'src': '../../img/icon/ezgif.com-gif-maker (1).png', 'alt': 'shopping icon', 'content': 'Retail & Ecommerce'};
-
    const planeIcon = {
        src: '../../img/icon/ezgif.com-gif-maker (2).png',
        alt: 'plane icon',
        content: 'Travel & Hospitality'
        };

<!-- cloud icon -->
- const cloudH3 = ["Engage Teammates","Level Up Productivity"];


<!-- case study img -->
- const caseStudyImg = ["../../img/background/ezgif.com-gif-maker (1).png","../../img/background/ezgif.com-gif-maker (2).png","../../img/background/ezgif.com-gif-maker (3).png"];

<!-- contact navigation item -->
- const serviceLinks = ["Drone Mapping", "Real State", "Commercial", "Construction"];

<!-- social icons -->
- const socialIcons = ["facebook", "instagram", "linkedin-in", "youtube"];
