@import "../../../../index.scss";

.breadcrump {
  background-color: $background-gray-color;
  color: $black-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $black-color;

  &__current {
    font-weight: bold;
    text-decoration: underline;
  }
}
