@import "../../index.scss";

.theater__info {
  background-color: $background-color;
  position: relative;

  &__background {
    margin-top: 5rem;
    width: 65vw;
    height: 45rem;
  }

  .theater__slide {
    flex-direction: column;
    text-align: center;

    .theater__title {
      font-size: 3rem;
      font-weight: bold;
      color: $gray-color;
    }
  }
}
